<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Adapted Large Laguage Models Can Outperform Medical Experts in Clinical Text Summarization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notion.css') }}">
</head>
<body>
    <article id="14b23c5b-4de7-8046-80b7-de73050f80af" class="page sans">
        <header>
            <div class="page-header-icon undefined"><span class="icon">📄</span></div>
            <h1 class="page-title" dir="auto">Adapted Large Laguage Models Can Outperform Medical Experts in Clinical Text Summarization</h1>
            <table class="properties">
                <tbody>
                    <tr class="property-row property-row-created_time">
                        <th><span class="icon property-icon">🕒</span>생성일</th>
                        <td><time>@2024년 11월 27일 오후 12:59</time></td>
                    </tr>
                </tbody>
            </table>
        </header>
        <div class="page-body">
            <div style="display:contents" dir="ltr">
                <figure class="image">
                    <a href="#">
                        <img style="width:432px" src="{{ url_for('static', filename='images/Paper_1/c140896e-d0c0-44fd-af6d-3819cdc58e35.png') }}"/>
                    </a>
                </figure>
            </div>
            
            <div style="display:contents" dir="ltr">
                <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex">
                    <div style="font-size:1.5em"><span class="icon">🔥</span></div>
                    <div style="width:100%">
                        <div style="display:contents" dir="auto"><p class="">PDF 정리본(맥 환경에서 미리보기로 볼 것)</p></div>
                        <div style="display:contents" dir="auto"><p class=""><a href="https://drive.google.com/file/d/1Zr5zC0XO3qpD0E0XvG4_VtmgJ0rSqgQb/view?usp=sharing">PDF 정리본(구글 드라이브)</a></p></div>
                    </div>
                </figure>
            </div>

            <div style="display:contents" dir="ltr">
                <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex">
                    <div style="font-size:1.5em"><span class="icon">1️⃣</span></div>
                    <div style="width:100%"><div style="display:contents" dir="auto"><h1 class="">1. Abstract</h1></div></div>
                </figure>
            </div>
            <ul class="bulleted-list">
                <li>본 연구에서는 방사선 보고서, 환자 질문, 경과 기록, 의사-환자 대화를 포함한 네 가지 다른 임상 요약 작업에 대해 8개의 LLM에 적용해 보았음.</li>
                <li>구문적, 의미적, 개념적 NLP 지표를 활용한 정량적 평가 결과, 모델과 적응 방법 간의 트레이드 오프가 나타났음.</li>
                <li>대다수의 사례에서 최적화된 LLM의 요약이 의료 전문가의 요약에 비해 동등하거나(45%) 우수한(36%)것으로 평가되었음.</li>
                <li>본 연구는 다중 작업에 걸쳐 임상 텍스트 요약에서의 LLM이 의료 전문가를 능가할 수 있음을 보여주는 증거를 제공함.</li>
            </ul>

            <div style="display:contents" dir="ltr">
                <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex">
                    <div style="font-size:1.5em"><span class="icon">2️⃣</span></div>
                    <div style="width:100%"><div style="display:contents" dir="auto"><h1 class="">2. Introduction</h1></div></div>
                </figure>
            </div>
            <ul class="bulleted-list">
                <li>높은 수준의 전문성을 가진 숙련된 의사들에게도 진단 보고서를 작성하거나... 방대한 양의 텍스트 정보를 요약하는 데는 상당한 시간과 에너지를 소비함.</li>
                <li>이러한 복잡하고 방대한 작업은 자연스럽게 오류 가능성을 초래하며...
                    <ul>
                        <li><mark class="highlight-yellow_background">즉, 임상 문서화의 업무량 감소를 위해 의료 분야에서 LLM을 신뢰할 수 있는가?</mark></li>
                        <li><mark class="highlight-yellow_background">LLM을 업무에 투입하여도 무방한가? 를 연구하였다고 보면 됨.</mark></li>
                    </ul>
                </li>
            </ul>
            <hr/>
            <div style="display:contents" dir="ltr">
                <figure class="image">
                    <img style="width:647px" src="{{ url_for('static', filename='images/Paper_1/image.png') }}"/>
                    <figcaption>본 논문의 프레임워크</figcaption>
                </figure>
            </div>
            <ol class="numbered-list" start="1">
                <li>여섯 개의 데이터셋으로 구성된 네 가지 상이한 요약 작업에 대해 LLM과 적응 방법의 각 유효한 조합(x)를 정량적으로 평가한다.</li>
                <li>이후 열 명의 의사가 최적화 모델/방법의 요약을 의료 전문가의 요약과 비교하는 임상 독자 연구를 수행한다.</li>
                <li>잠재적 의료 위해를 정량화하고 허구 정보의 유형을 분류하기 위해 안전성 분석을 수행한다.</li>
            </ol>
            <hr/>
            <p><mark class="highlight-yellow_background">본 논문은 다양한 문서 범위에서 임상 텍스트 요약에 대형 언어 모델(LLM)을 적용한 결과, LLM이 의료 전문가를 능가할 수 있음을 입증하였음.</mark></p>

            <div style="display:contents" dir="ltr">
                <figure class="block-color-gray_background callout" style="white-space:pre-wrap;display:flex">
                    <div style="font-size:1.5em"><span class="icon">3️⃣</span></div>
                    <div style="width:100%"><div style="display:contents" dir="auto"><h1 class="">3. Related Work</h1></div></div>
                </figure>
            </div>
            <div style="display:contents" dir="ltr">
                <figure class="image">
                    <img style="width:647px" src="{{ url_for('static', filename='images/Paper_1/image 1.png') }}"/>
                </figure>
            </div>
            
            <p><strong>4-3. Data</strong></p>
            <div style="display:contents" dir="ltr">
                <figure class="image">
                    <img style="width:647px" src="{{ url_for('static', filename='images/Paper_1/image 2.png') }}"/>
                </figure>
            </div>

            <p class="highlight-red_background"><strong>7. Conclusion</strong></p>
            <ol class="numbered-list">
                <li><strong>LLM의 적응 평가:</strong> 특정 작업 및 도메인에 모델을 적응시키는 것이 요약 품질을 크게 향상시킴.</li>
                <li><strong>임상 독자 연구 결과:</strong> LLM 요약이 의료 전문가 요약보다 완전성, 정확성, 간결성 측면에서 선호됨.</li>
                <li><strong>안전성 분석의 시사점:</strong> LLM과 전문가 모두 허위 정보 생성 가능성 존재.</li>
            </ol>
        </div>
    </article>
</body>
</html>